<footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/images/logoUPS.png" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Webinares gratuitos</h2>
                <p>Eventos en linea con la finalidad de brindar contenido educativo y practico</p>
                <h2>Cursos de Formacion Continua</h2>
                <p>Se busca mejorar las competencias de los futuros profesionales dandoles un mejor performance</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2021 <b>UPS Meeting</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>