<div class="todo">

  <div class="principal">
    <h1 class="titulo">Leyton Valencia</h1>
    <div class="contenedor">
      <div class="foto1">
        <img class="img1" src="/images/lv1.JPEG" alt="">
      </div>
      <div class="texto">
        <h2 class="subtitulo">Acerca de mi</h2>
        <p class="info">Estudiante de Ingenieria en Ciencias de la Computacion.
          <br>
          Edad: 23 años <br>
          <br>
          Cursos:
          <br>
          Edx Javascript <br> Edx CSS <br>Cisco Sistemas Operativos <br>Edx Packet Tracer <br>
        </p>
        <table>
          <tr>
            <td>
              <ul>
                <h3>- Habilidades</h3>
                <li>Python</li>
                <li>Java</li>
                <li>Angular</li>
                <li>HTML</li>
                <li>PHP</li>
                <li>R</li>
                <li>Mathlab</li>
                <li>Gestion de BDD</li>
              </ul>
            </td>
            <td>
              <ul>
                <h3>- Hobbies</h3>
                <li>Fotografia</li>
                <li>Tecnologia</li>
                <li>Basket</li>
                <li>Videojuegos</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="foto2">
        <img class="img2" src="/images/lv2.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="principal">
    <h1 class="titulo">Bryan Chacon</h1>
    <div class="contenedor">
      <div class="foto1">
        <img class="img1" src="/images/bs3.JPG" alt="">
      </div>
      <div class="texto">
        <h2 class="subtitulo">Acerca de mi</h2>
        <p class="info">Estudiante de Ingenieria en Ciencias de la Computacion, amante de la musica electronica y el
          rock clasico.
          <br>
          Edad: 25 anos <br>
          <br>
          Cursos:
          <br>
          Edx Javascript <br> Edx CSS <br>
        </p>
        <table>
          <tr>
            <td>
              <ul>
                <h3>- Habilidades</h3>
                <li>Java</li>
                <li>Angular</li>
                <li>HTML</li>
                <li>MySQL</li>
                <li>NodeJs</li>
                <li>Bootstrap 5</li>
              </ul>
            </td>
            <td>
              <ul>
                <h3>- Hobbies</h3>
                <li>Dibujo</li>
                <li>Ciclismo</li>
                <li>Videojuegos</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="foto2">
        <img class="img2" src="/images/bs2.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="principal">
    <h1 class="titulo">Jefferson Romero</h1>
    <div class="contenedor">
      <div class="foto1">
        <img class="img1" src="/images/jf1.jpeg" alt="">
      </div>
      <div class="texto">
        <h2 class="subtitulo">Acerca de mi</h2>
        <p class="info">Estudiante de Ingenieria en Ciencias de la Computacion, amante de la musica electronica y el
          rock clasico.
          <br>
          Edad: 23 anos <br>
          <br>
          Cursos:
          <br>
          Edx Javascript <br> Edx CSS <br>Cisco Sistemas Operativos <br>Edx Packet Tracer <br>
        </p>
        <table>
          <tr>
            <td>
              <ul>
                <h3>- Habilidades</h3>
                <li>Python</li>
                <li>Java</li>
                <li>Angular</li>
                <li>HTML</li>
                <li>PHP</li>
                <li>R</li>
                <li>Mathlab</li>
              </ul>
            </td>
            <td>
              <ul>
                <h3>- Hobbies</h3>
                <li>Fotografia</li>
                <li>Tecnologia</li>
                <li>Basket</li>
                <li>Videojuegos</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="foto2">
        <img class="img2" src="/images/jf2.jpeg" alt="">
      </div>
    </div>
  </div>
</div>