<div class="container p-4 mt-5 " >
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/resCarrera" method="post">
                    <h4>Agregar Carrera</h4>
                        <div class="form-group mt-3">
                            <input type="text" name="n_carrera" class="form-control" placeholder="Nombre de la Carrera">
                        </div>
                        <div class="form-group mt-3">
                            <select name="sede" id="">
                                <option value="Quito Sur">Quito Sur</option>
                                <option value="Quito Norte"> Quito Giron</option>
                                <option value="Guayaquil">Guayaquill</option>
                                <option value="Cuenca">Cuenca</option>
                            </select>
                        </div>
                        <div class="form-group mt-3 d-grid">
                            <button class="btn btn-success btn-block">Save</button>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>